<meta />
<style></style>

<!-- Bread crumb and right sidebar toggle -->
<div class="page-breadcrumb bg-white">
  <div class="row align-items-center">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
      <h4 class="page-title">Admin List</h4>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
      <div class="d-md-flex">
        <ol class="breadcrumb ms-auto">
          <li><a href="#" class="fw-normal">Admin Table</a></li>
        </ol>
      </div>
    </div>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- End Bread crumb and right sidebar toggle -->

<!-- Container fluid  -->
<div class="container-fluid">
  <!-- Start Page Content -->
  <form id="listForm" action="/admin/list" method="post">
    <div class="row">
      <div class="col-sm-12">
        <div class="white-box">
          <h3 class="box-title">관리자 계정 목록</h3>
          <div class="table-responsive">
            <table class="table text-nowrap">
              <thead>
                <tr>
                  <th class="border-top-0">#</th>
                  <th class="border-top-0">아이디</th>
                  <th class="border-top-0">성명</th>
                  <th class="border-top-0">메일주소</th>
                  <th class="border-top-0">소속회사</th>
                  <th class="border-top-0">부서</th>
                  <th class="border-top-0">사용여부</th>
                  <th class="border-top-0">등록일시</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <% for(var i=0; i<admins.length; i++){ %>
                    <tr>
                      <td><%= i+1 %></td>
                      <td><a href="/admin/modify/<%=admins[i].admin_member_id%>"><%= admins[i].admin_id %></a></td>
                      <td><%= admins[i].admin_name %></td>
                      <td><%= admins[i].email %></td>
                      <td>
                        <% if(admins[i].company_code == 0) { %> 
                          자회사
                        <% } else { %>
                          협력사
                        <% } %>
                      </td>
                      <td><%= admins[i].dept_name %></td>
                      <td>
                        <% if(admins[i].used_yn_code == 1) { %>
                          사용 중
                        <% } else { %>
                          사용 안 함
                        <% } %>
                      </td>
                      <td><%= moment(admins[i].reg_date).format('YYYY-MM-DD HH:mm') %></td>
                      </tr>
                  <% } %>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </form>

  <!-- 생성 버튼 영역 -->
  <div class="text-center">
    <a href="/admin/create" class="btn btn-primary">관리자 생성</a>
  </div>
  <!-- End Page Content -->
</div>
<!-- End Container fluid  -->

<script></script>
